{% extends "base.html.twig" %}
{% block body %}

<h2 class="nadpis text-center">Přehled</h2>

<div class="new-record-box">
    <a href="{{ path('new-record') }}">
        <button type="button" class="btn btn-success add-record"><i class="bi bi-plus-circle-fill"></i> Přidat záznam</button>
    </a>
</div>

<div class="filter-box">
    <form method="get" action="{{ path('overview') }}">
        <select name="filter" class="form-select" onchange="this.form.submit()">
            <option value="all" {% if app.request.query.get('filter') == 'all' %}selected{% endif %}>All</option>
            <option value="last_week" {% if app.request.query.get('filter') == 'last_week' %}selected{% endif %}>Last Week</option>
            <option value="last_month" {% if app.request.query.get('filter') == 'last_month' %}selected{% endif %}>Last Month</option>
            <option value="last_year" {% if app.request.query.get('filter') == 'last_year' %}selected{% endif %}>Last Year</option>
        </select>
    </form>
</div>

<div class="overview-box table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>Duration</th>
                <th>Department</th>
                <th>Type of Work</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% set totalDuration = 0 %}
            {% for workRecord in workRecords %}
                <tr>
                    <td>{{ workRecord.startTime|date('d-m-Y H:i:s') }}</td>
                    <td>{{ workRecord.duration // 3600 }}h {{ (workRecord.duration % 3600) // 60 }}m</td>
                    <td>{{ workRecord.department }}</td>
                    <td>{{ workRecord.typeOfWork }}</td>
                    <td>{{ workRecord.description }}</td>
                    <td>
                        {% if workRecord.isEditableBy(user) %}
                            <a href="{{ path('edit-record', {'id': workRecord.id}) }}" class="btn btn-outline-success">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        {% else %}
                            <button class="btn btn-outline-success" disabled>
                                <i class="bi bi-pencil-square"></i> Edit
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        {% if workRecord.isEditableBy(user) %}
                            <a href="{{ path('delete-record', {'id': workRecord.id}) }}" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        {% else %}
                            <button class="btn btn-outline-danger" disabled>
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        {% endif %}
                    </td>
                    {% set totalDuration = totalDuration + workRecord.duration %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-center">Total: {{ totalDuration // 3600 }}h {{ (totalDuration % 3600) // 60 }}m</p>
</div>

<div class="export-box text-right">
    <a href="{{ path('export_csv') }}" class="btn btn-primary"><i class="bi bi-download"></i> Export as CSV</a>
</div>

{% endblock %}
